@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #A1CCD1;
}

h1 {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.container {
  display: flex;
  justify-content: center;
}

.controls {
  /* TODO: create better styling for controller */
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  border: 2px #F4F2DE solid;
  border-radius: 1rem;
  flex-flow: row wrap;
  height: 70rem;
  width: 70rem;
  position: relative;
  justify-content: space-around;
}

.box {
  border: 0.5px solid rgba(159, 13, 127, 0.3);
  border-radius: 0.5rem;
  background-color: #F4F2DE;
}

.active {
  background-color: #E9B384;
}